# Lightning

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
pwd

'C:\\Users\\Hari Bdr. K.C\\Desktop\\Python'

In [27]:
df=pd.read_csv('boulder.csv')

In [28]:
df.head()

         date  max_temp  precip
0  2018-07-01        87     0.0
1  2018-07-02        92     0.0
2  2018-07-03        90  -999.0

In [35]:
df.tail()

            max_temp  precip
date
2018-07-27        80    0.35
2018-07-28        77    0.01
2018-07-29        75    0.04
2018-07-30        77    0.00
2018-07-31        84    0.00

In [31]:
df=pd.read_csv('boulder.csv', parse_dates=['date'], index_col=['date'])
df.head()

            max_temp  precip
date
2018-07-01        87    0.00
2018-07-02        92    0.00
2018-07-03        90 -999.00
2018-07-04        87    0.00
2018-07-05        84    0.24

In [41]:
df_lig = df['2018-07-01':'2018-07-31']
df_lig

            max_temp  precip
date
2018-07-01        87    0.00
2018-07-02        92    0.00
2018-07-03        90 -999.00
2018-07-04        87    0.00
2018-07-05        84    0.24
2018-07-06        87    0.00
2018-07-07        96    0.00
2018-07-08        96    0.00
2018-07-09        93    0.00
2018-07-10        97    0.00
2018-07-11        95    0.00
2018-07-12        92    0.05
2018-07-13        88    0.00
2018-07-14        94    0.00
2018-07-15        93    0.45
2018-07-16        85    0.02
2018-07-17        84 -999.00
2018-07-18        94 -999.00
2018-07-19        97    0.00
2018-07-20        94    0.00
2018-07-21        93    0.05
2018-07-22        94    0.11
2018-07-23        78    0.31
2018-07-24        86    0.11
2018-07-25        82    0.03
2018-07-26        81    0.07
2018-07-27        80    0.35
2018-07-28        77    0.01
2018-07-29        75    0.04
2018-07-30        77    0.00
2018-07-31        84    0.00